        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                                    <div class="card-body">
                                            <div class="form-floating mb-3">
                                                <input class="form-control" name="email" id="inputEmail" type="email" placeholder="name@example.com" />
                                                <label for="inputEmail">Email address</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input class="form-control" name="password" id="inputPassword" type="password" placeholder="Password" />
                                                <label for="inputPassword">Password</label>
                                            </div>
                                            <div class="form-check mb-3">
                                                <input class="form-check-input" id="inputRememberPassword" type="checkbox" value="" />
                                                <label class="form-check-label" for="inputRememberPassword">Remember Password</label>
                                            </div> 
                                            <div class="alert" role="alert" id="message"></div>
                                                <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                                    <a class="small" href="/user/recovery">Forgot Password?</a>
                                                    <button class="btn btn-primary" onclick="sendData()"> Login</button>
                                                </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; TestQuizUz 2021</div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script>
            async function sendData() {
                let email = document.getElementById("inputEmail").value
                let password = document.getElementById("inputPassword").value
                const data = await fetch("/admin/login", {
                    method: "POST",
                    headers: {
                    'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({email: email, password: password})
                }).then(res => res.json())

                if(data.success){
                    let head = new Headers()
                    head.append('Content-Type','application/json; charset=utf-8');
                    head.append('Authorization', 'Bearer ' + data.token);
                    console.log(head)
                } else {
                    let mes = document.getElementById("message")
                    mes.classList.add("alert-danger")
                    mes.innerText = data.err
                    setTimeout(() => {
                        mes.remove()
                    }, 5000)
                }

            }
            
        </script>
